@import './Vars.scss';

@mixin translateXy($x, $y) {
  transform: translateX($x) translateY($y);
}

@mixin translateYScale($y, $scale) {
  transform: translateY($y) scale($scale);
}

@mixin animate($name) {
  animation: $name 5s infinite ease both;
}

.hands {
  max-width: 100rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7.5rem;
  padding: 7.5rem 0;
  cursor: pointer;

  @media screen and (min-width: $break-point-0) {
    font-size: 10rem;
  }

  @media screen and (min-width: $break-point-1) {
    font-size: 12.5rem;
  }

  &__hand {
    transition: all 0.15s;

    @media screen and (min-width: $break-point-1) {
      &:nth-child(1) {
        @include animate(shake-1);
      }

      &:nth-child(2) {
        @include animate(shake-2);
      }

      &:nth-child(3) {
        @include animate(shake-3);
      }

      &:hover {
        animation: none;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

@keyframes shake-1 {
  25% {
    @include translateXy(-0.5rem, -0.5rem);
  }

  50% {
    @include translateXy(0, 0);
  }

  75% {
    @include translateXy(0.5rem, 0.5rem);
  }

  100% {
    @include translateXy(0, 0);
  }
}

@keyframes shake-2 {
  25% {
    @include translateYScale(-0.5rem, 1.1);
  }

  50% {
    @include translateYScale(0, 1);
  }

  75% {
    @include translateYScale(-0.5rem, 1.1);
  }

  100% {
    @include translateYScale(0, 1);
  }
}

@keyframes shake-3 {
  25% {
    @include translateXy(0.5rem, 0.5rem);
  }

  50% {
    @include translateXy(0, 0);
  }

  75% {
    @include translateXy(-0.5rem, -0.5rem);
  }

  100% {
    @include translateXy(0, 0);
  }
}
