$break-point-1: 600px;

.scores {
  position: relative;
  max-width: 100rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  font-size: var(--font-size-1);
  padding: 0.75rem;
  border: 2px solid rgba(#fff, 0.15);
  border-radius: 3px;

  &__score {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 3px;
  }

  &__text {
    font-size: 1.25rem;
    color: #040484;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @media screen and (min-width: $break-point-1) {
      font-size: 2rem;
    }
  }

  &__number {
    color: #555;
    font-size: 3rem;
    font-weight: 600;

    @media screen and (min-width: $break-point-1) {
      font-size: 4rem;
    }
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    transition: all 0.15s;
    cursor: pointer;

    @media screen and (min-width: $break-point-1) {
      font-size: 4rem;

      &:hover {
        transform: translate(-50%, -50%) scale(1.05);
      }

      &:active {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
